* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: bisque;
}

h2 {
  margin: 20px;
  color: blueviolet;
}

p {
  font-size: 28px;
  color: red;
}